#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  justify-items: end;
}

.visually-hidden {
  display: none;
}


.grid-element-switcher {
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.disabled-item {
  display: hidden;
}