#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.visually-hidden {
  display: none;
}

.grid-element-calculator-template{

}

.grid-element-calculator {

}

.grid-element-switcher {
  grid-column: 2/2;
}

.ramp {
  background-color: red;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.ramp-2 {
  height: 50px;
  grid-column: 2/2;
}

.ramp-3, .ramp-4 {
  height: 300px;
}