.container-template {
    border: 2px dashed rgb(199, 82, 3)
}

.container-template {
    background: radial-gradient(rgb(151, 62, 3),rgb(0, 0, 0));
    
}

.grid-element-calculator-template {
    background: rgba(69, 69, 233, 0.425); 
}